* {
  margin: 0%;
  padding: 0%;
  font-family: monospace;
}

:root {
  --color-text: navy;
  --color-bg: papayawhip;
  --color-bg-accent: #ecdcc0;
  --size: clamp(10rem, 1rem + 40vmin, 30rem);
  --gap: calc(var(--size) / 30);
  --duration: 10s;
  --scroll-start: 0;
  --scroll-end: calc(-100% - var(--gap));
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: papayawhip;
    --color-bg: rgb(15, 15, 15);
    --color-bg-accent: rgb(15, 15, 15);
  }
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  /* overflow-y: hidden; */
}

body::-webkit-scrollbar {
  display: none;
}

main {
  overflow-x: hidden;
  overflow-y: scroll;
}

main::-webkit-scrollbar {
  display: none;
}

nav {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  /* height: 55px; */
  min-height: 55px;
  padding-top: 0.5em;
  background-color:#0F0F0F;
  width: 90vw;
  border-radius: 1.5em;
  -webkit-border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  -ms-border-radius: 1.5em;
  -o-border-radius: 1.5em;
  padding-left: 1em;
  padding-right: 1.3em;
}
.navshow{
  /* padding-top: 0.5em; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
}
nav img {
  height: 40px;
  color: white;
  cursor: pointer;
}
nav>.navshow >.icon>.menu{
display: block;
}
nav>.navshow>.icon>.cross{
  display: none;
}
.navlist{
  /* margin-top: 0.5em; */
  padding-bottom: 0.5em;
  width: 100%;
  border-top: 2px solid rgba(255, 255, 255, 0.048);
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  display: none;
}
.navlist>ul>li{
  text-align: center;
  margin: 1em;
}
ul>li>a{
  color: white;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
ul>li>a:hover{
  color: #6001FF;

}
nav:hover {
  background-color: rgb(7, 7, 7);
  border: 1px solid rgb(15, 15, 15);
}
header {
  border: 1px solid black;
  margin-top: 1em;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90vw;
  background-color: rgb(15, 15, 15);
  padding-left: 1em;
  padding-right: 1.3em;
  border-radius: 1.5em;
  -webkit-border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  -ms-border-radius: 1.5em;
  -o-border-radius: 1.5em;
}

header>h2 {
  color: rgba(240, 248, 255, 0.267);
}

header>h1 {
  color: white;
  font-size: 20px;
  width: 10em;
  cursor: pointer;
}
header>h1:hover{
  color: #6001FF;
}
header:hover {
  background-color: rgb(7, 7, 7);
  border: 1px solid rgb(15, 15, 15);
}

.invert {
  color: antiquewhite;
}

section {
  position: relative;
  border: 1px solid black;
  padding-top: 1.9em;
  padding-bottom: 1.9em;
  padding-left: 1em;
  padding-right: 1.3em;
  margin-top: 1em;
  width: 90vw;
  background-color: rgb(15, 15, 15);
  border-radius: 1.5em;
  -webkit-border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  -ms-border-radius: 1.5em;
  -o-border-radius: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}
#hs{
  filter: saturate(2);
  -webkit-filter: saturate(2);
}
.svg1{
  position: absolute;
  left: -2%;
  transform: rotate(-25deg);
  z-index: -0;
 
}
.svg2{
  position: absolute;
  bottom: 15%;
  left: -3%;
  transform: rotate(-35deg);
  -webkit-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  -o-transform: rotate(-35deg);
  z-index: -0;
}
.svg3{
  position: absolute;
  bottom: 45%;
  left:20%;
  transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  z-index: -0;
}
.svg4{
  position: absolute;
  top: 3%;
  right:25%;
  transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  z-index: -0;
}
.svg5{
  position: absolute;
  top: 25%;
  right:10%;
  transform: rotate(30deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  z-index: -0;
}
.svg6{
  position: absolute;
  bottom: 3%;
  right:2%;
  transform: rotate(30deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  z-index: -0;
}
@media (max-width:810px) {
  #hs{
    left:-1000%
  }
}
.hero{
  z-index: 1;
  background-color: rgb(15, 15, 15);
}
.mypiclogo {
  border: 2px dotted #6001FF;
  position: relative;
  background-color: rgb(15, 15, 15);
}
section:hover>.hero{
  background-color: rgb(7, 7, 7);
}
section:hover>.mypiclogo{
  background-color: rgb(7, 7, 7);

}

.hero>.mypiclogo>img {
  border-radius: 50%;
  height: 20em;
  aspect-ratio: 1;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.box {
  position: absolute;
  height: 10px;
  aspect-ratio: 1;
  background-color: white;
}

.div1 {
  left: 0px;
  top: 0px;
}

.div2 {
  right: 0px;
  top: 0px;
}

.div3 {
  bottom: 0px;
  left: 0px;
}

.div4 {
  right: 0px;
  bottom: 0px;
}

.herobtn {
  border: none;
  border-radius: 0.5em;
  margin-top: 1em;
  width: 100%;
  height: 2.1em;
  font-size: 25px;
  font-weight: bold;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  background-color: #6001FF;
  color: white;
}

section>p {
  margin-top: 1em;
  color: rgba(255, 255, 255, 0.582);
  font-size: 15px;
}
section:hover {
  background-color: rgb(7, 7, 7);
  border: 1px solid rgb(15, 15, 15);
}

.section2 {
  /* padding-left: 1em; */
  /* padding-right: 1em; */
  padding-bottom: 1.5em;
  margin-top: 1em;
  width: 92vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
  width: 45.2vw;
  /* background-color: aqua; */
}

.right {
  height: 90vh;
  width: 45.2vw;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.proj {
  position: relative;
  height: 67%;
  width: 100%;
  border-radius: 1.5em;
  -webkit-border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  -ms-border-radius: 1.5em;
  -o-border-radius: 1.5em;
  background-color: rgb(15, 15, 15);
  /* padding: 1.5em; */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.proj>h1 {
  color: white;
  position: absolute;
  top: 0%;
  left: 0%;
  margin-top: 0.5em;
  margin-left: 1em;
}

.projimg {
  background-image: url(images/proj1img.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* width: 80%; */
  aspect-ratio: 1.7;
  height: 70%;
  margin: 1em;
  margin-top: 3em;
  border: 1px solid rgba(255, 255, 255, 0.356);
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
}

.proj:hover {
  background-color: rgb(7, 7, 7);
  border: 1px solid rgb(15, 15, 15);
}

.more {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-left: 1em;
  margin-right: 1em;
}

.more>h3 {
  color: white;
  margin-left: 2em;

}

.more>img {
  margin-right: 2em;
}

.skill {
  position: relative;
  background-color: rgb(15, 15, 15);
  height: 30%;
  width: 100%;
  border-radius: 1.5em;
  -webkit-border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  -ms-border-radius: 1.5em;
  -o-border-radius: 1.5em;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.marquee {
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
  mask-image: linear-gradient(var(--mask-direction, to right),
      hsl(0 0% 0% / 0),
      hsl(0 0% 0% / 1) 20%,
      hsl(0 0% 0% / 1) 80%,
      hsl(0 0% 0% / 0));
}

.marquee__group {
  /* margin-top: 2.5em; */
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  animation: scroll-x var(--duration) linear infinite;
}

@keyframes scroll-x {
  from {
    transform: translateX(var(--scroll-start));
  }

  to {
    transform: translateX(var(--scroll-end));
  }
}

/* Element styles */
.marquee svg {
  display: grid;
  place-items: center;
  width: 6em;
  fill: var(--color-text);
  background: var(--color-bg-accent);
  aspect-ratio: 1;
  padding: calc(var(--size) / 10);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  filter: saturate(2);
  -webkit-filter: saturate(2);
}

.marquee svg:hover {
  border: 1px solid white;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  background-color: black;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  margin: auto;
  max-width: 100vw;
}

.wrapper--vertical {
  flex-direction: row;
  height: 100vh;
}

@keyframes fade {
  to {
    opacity: 0;
    visibility: hidden;
  }
}


.about {
  height: 40%;
  background-color: rgb(15, 15, 15);
  width: 100%;
  border-radius: 1.5em;
  -webkit-border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  -ms-border-radius: 1.5em;
  -o-border-radius: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

.about>h2 {
  color: white;
  /* background-color: palegreen; */
  width: 95%;
  padding-left: 1.6em;
  margin-bottom: 0.5em;
}

.about>p {
  color: white;
  width: 90%;
  line-height: 1.5em;
  font-size: 15px;
}

.detail {
  margin-top: 1em;
  width: 90%;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
}

.detail>h3 {
  color: rgba(255, 255, 255, 0.63);
}

.about:hover {
  background-color: rgb(7, 7, 7);
  border: 1px solid rgb(15, 15, 15);
}

.projno {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15%;
  background-color: rgb(15, 15, 15);
  width: 100%;
  border-radius: 1.5em;
  -webkit-border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  -ms-border-radius: 1.5em;
  -o-border-radius: 1.5em;
}

.projno>h1 {
  color: white;
}

.projno>h3 {
  color: rgba(255, 255, 255, 0.473);
}

.projno:hover {
  background-color: rgb(7, 7, 7);
  border: 1px solid rgb(15, 15, 15);
}

.social {
  height: 40%;
  background-color: rgb(15, 15, 15);
  width: 100%;
  border-radius: 1.5em;
  -webkit-border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  -ms-border-radius: 1.5em;
  -o-border-radius: 1.5em;
  border: 1px solid black;
}

.social:hover {
  background-color: rgb(7, 7, 7);
  border: 1px solid rgb(15, 15, 15);
}

ul {
  list-style: none;
}

.example-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8em;
}

.example-2 .icon-content {
  border: 1px solid white;
  border-radius: 50%;
  margin: 0 10px;
  position: relative;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.example-2 .icon-content .tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 2ms ease;
  -webkit-transition: all 2ms ease;
  -moz-transition: all 2ms ease;
  -ms-transition: all 2ms ease;
  -o-transition: all 2ms ease;
}

.example-2 .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: -50px;
}

.example-2 .icon-content a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #4d4d4d;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

.example-2 .icon-content a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}

.example-2 .icon-content a svg {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
}

.example-2 .icon-content a:hover {
  color: white;
}

.example-2 .icon-content a .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}

.example-2 .icon-content a:hover .filled {
  height: 100%;
}

.example-2 .icon-content a[data-social="linkedin"] .filled,
.example-2 .icon-content a[data-social="linkedin"]~.tooltip {
  background-color: #0274b3;
  filter: saturate(1.5);
  -webkit-filter: saturate(1.5);
}

.example-2 .icon-content a[data-social="github"] .filled,
.example-2 .icon-content a[data-social="github"]~.tooltip {
  background-color: black;
}

.example-2 .icon-content a[data-social="instagram"] .filled,
.example-2 .icon-content a[data-social="instagram"]~.tooltip {
  background: linear-gradient(45deg, #405de6, #5b51db, #b33ab4, #c135b4, #e1306c, #fd1f1f);
  filter: saturate(1.5);
  -webkit-filter: saturate(1.5);
}

@media (max-width:1140px) {
  .section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 93vw;
  }

  .left {
    width: 100%;
  }

  .right {
    margin-top: 1em;
    width: 100%;
  }

}

@media (max-width:600px) {
  .section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 94.5vw;
  }

  .left {
    width: 100%;
  }

  .right {
    margin-top: 1em;
    width: 100%;
  }

  .projimg {
    background-image: url(images/proj1img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 80%; */
    aspect-ratio: 1.7;
    height: 55%;
    margin: 1em;
    margin-top: 1em;
    margin-bottom: 3em;
    border: 1px solid rgba(255, 255, 255, 0.356);
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
  }
}

  @media (max-width:430px) {
    .section2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 97vw;
    }

    .left {
      height: 60vh;
      width: 100%;
    }

    .right {
      margin-top: 1em;
      width: 100%;
    }
    .proj>h1{
      font-size: 20px;
    }

    .projimg {
      background-image: url(images/proj1img.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      /* width: 80%; */
      aspect-ratio: 1.7;
      height: 60%;
      margin: 1em;
      margin-top: 3em;
      border: 1px solid rgba(255, 255, 255, 0.356);
      border-radius: 1em;
      -webkit-border-radius: 1em;
      -moz-border-radius: 1em;
      -ms-border-radius: 1em;
      -o-border-radius: 1em;
    }
  }
  .contact{
display: flex;
flex-direction: column;
justify-content: space-between;
background-color:  rgb(15, 15, 15);
height: 7em;
border-radius: 1.5em;
-webkit-border-radius: 1.5em;
-moz-border-radius: 1.5em;
-ms-border-radius: 1.5em;
-o-border-radius: 1.5em;
border: 1px solid black;
padding: 1em;
  }
  .contact:hover{
    border: 1px solid  rgb(15, 15, 15);
    background-color: #070707;
  }
  .contblock{
    display: flex;
    justify-content: space-between;
  }
  .contact h2,h3,img{
    color: white;
  }
  footer>h3{
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
  }
.span1{
  border-bottom: 1px solid  #6001FF ;
}
.span2{
  color: #6001FF;
}
