
* {
    margin: 0%;
    padding: 0%;
    font-family: monospace;
  }
  body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    /* overflow-y: hidden; */
  }
  
  body::-webkit-scrollbar {
    display: none;
  }
  main {
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  main::-webkit-scrollbar {
    display: none;
  }
  
  nav {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    /* height: 55px; */
    min-height: 55px;
    padding-top: 0.5em;
    background-color:#0F0F0F;
    width: 90vw;
    border-radius: 1.5em;
    -webkit-border-radius: 1.5em;
    -moz-border-radius: 1.5em;
    -ms-border-radius: 1.5em;
    -o-border-radius: 1.5em;
    padding-left: 1em;
    padding-right: 1.3em;
  }
  .navshow{
    /* padding-top: 0.5em; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
  }
  nav img {
    height: 40px;
    color: white;
    cursor: pointer;
  }
  nav>.navshow >.icon>.menu{
  display: block;
  }
  nav>.navshow>.icon>.cross{
    display: none;
  }
  .navlist{
    /* margin-top: 0.5em; */
    padding-bottom: 0.5em;
    width: 100%;
    border-top: 2px solid rgba(255, 255, 255, 0.048);
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    display: none;
  }
  .navlist>ul>li{
    text-align: center;
    list-style: none;
    margin: 1em;
  }
  ul>li>a{
    color: white;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
  }
  ul>li>a:hover{
    color: #6001FF;
  
  }
  nav:hover {
    background-color: rgb(7, 7, 7);
    border: 1px solid rgb(15, 15, 15);
  }  

.about{
    border: 1px solid black;
    border-radius: 1.5em;
    background-color: #0F0F0F;
    padding-top: 2em;
    padding-bottom: 2em;
    margin-top: 1em;
    height: auto;
    width: 93vw;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap-reverse;
    color: white;
    font-family: monospace;
    -webkit-border-radius: 1.5em;
    -moz-border-radius: 1.5em;
    -ms-border-radius: 1.5em;
    -o-border-radius: 1.5em;
}
.text{
    height: 100%;
    width: 68vw;
    /* border: 1px solid white; */
}
.text>h1{
    margin-left: 1em;
}
.text>p{
    margin-left: 2em;

}
.text>ul>li{
    margin-left: 3em;
}
.logo{
    /* height: 100%; */
    aspect-ratio: 1;
    /* width: 30vw; */
    /* border: 1px solid white; */
    
}
.mypiclogo {
    border: 2px dotted #6001FF;
    position: relative;
    margin-bottom: 1em;

  }
  
.mypiclogo>img {
    border-radius: 50%;
    height: 20em;
    aspect-ratio: 1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  
  .box {
    position: absolute;
    height: 10px;
    aspect-ratio: 1;
    background-color: white;
  }
  
  .div1 {
    left: 0px;
    top: 0px;
  }
  
  .div2 {
    right: 0px;
    top: 0px;
  }
  
  .div3 {
    bottom: 0px;
    left: 0px;
  }
  
  .div4 {
    right: 0px;
    bottom: 0px;
  }
  .about:hover {
    background-color: rgb(7, 7, 7);
    border: 1px solid rgb(15, 15, 15);
  }  


@media (max-width:1200px){
    .about{
        height: auto;
        width: 93vw;
        margin-bottom: 2em;
    }
    .text{
        width: 100%;
    }
   
}
footer>h3 {
  color: white;
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
}

.span1 {
  border-bottom: 1px solid #6001FF;
}

.span2 {
  color: #6001FF;
}