* {
    margin: 0%;
    padding: 0%;
    font-family: monospace;
  }
  body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    /* overflow-y: hidden; */
  }
  
  body::-webkit-scrollbar {
    display: none;
  }
  
  main {
    overflow-x: hidden;
    overflow-y: scroll;
  }
  
  main::-webkit-scrollbar {
    display: none;
  }
  
  nav {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    /* height: 55px; */
    min-height: 55px;
    padding-top: 0.5em;
    background-color:#0F0F0F;
    width: 90vw;
    border-radius: 1.5em;
    -webkit-border-radius: 1.5em;
    -moz-border-radius: 1.5em;
    -ms-border-radius: 1.5em;
    -o-border-radius: 1.5em;
    padding-left: 1em;
    padding-right: 1.3em;
  }
  .navshow{
    /* padding-top: 0.5em; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
  }
  nav img {
    height: 40px;
    color: white;
    cursor: pointer;
  }
  nav>.navshow >.icon>.menu{
  display: block;
  }
  nav>.navshow>.icon>.cross{
    display: none;
  }
  .navlist{
    /* margin-top: 0.5em; */
    padding-bottom: 0.5em;
    width: 100%;
    border-top: 2px solid rgba(255, 255, 255, 0.048);
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    display: none;
  }
  .navlist>ul>li{
    text-align: center;
    margin: 1em;
    list-style: none;
  }
  ul>li>a{
    color: white;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
  }
  ul>li>a:hover{
    color: #6001FF;
  
  }
  nav:hover {
    background-color: rgb(7, 7, 7);
    border: 1px solid rgb(15, 15, 15);
  }  
  .project_cont{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#0F0F0F;
    border-radius: 1.5em;
    -webkit-border-radius: 1.5em;
    -moz-border-radius: 1.5em;
    -ms-border-radius: 1.5em;
    -o-border-radius: 1.5em;
    margin-bottom: 1em;
    padding-bottom: 2em;
  }

  .project_cont>h1{
  margin-top: 1em;
  border-bottom: 1px solid white;
  color: white;
  font-size: 35px;
  transition:all 0.3s ease-in-out ;
  -webkit-transition:all 0.3s ease-in-out ;
  -moz-transition:all 0.3s ease-in-out ;
  -ms-transition:all 0.3s ease-in-out ;
  -o-transition:all 0.3s ease-in-out ;
  cursor: pointer;
}
  .project_cont>h1:hover{
    color: #6001FF;
    border-color: #6001FF;
  }
 


.buttons>a:hover{
  border: 1px solid rgb(240, 237, 237);
  background-color: rgba(37, 37, 37, 0.596);
  color: rgb(255, 255, 255);
  font-weight: bolder;
}



footer>h3 {
  color: white;
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
}

.span1 {
  border-bottom: 1px solid #6001FF;
}

.span2 {
  color: #6001FF;
}


.ccontainer{
  width: 92vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.proj_block{
  margin: 20px;
  width: 50%;
  border: 1px solid rgba(255, 255, 255, 0.37);
  background-color: #070707;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  padding: 30px 0px;
  border-radius:20px ;
  -webkit-border-radius:20px ;
  -moz-border-radius:20px ;
  -ms-border-radius:20px ;
  -o-border-radius:20px ;
}
.proj_block>img{
  height: 10%;
  width: 70%;
  border: 1px solid rgba(255, 255, 255, 0.336);
  /* border-radius: 20px; */
  object-fit: cover;
  
}
.proj_block>h2{
  margin: 10px;
}
.proj_block>p{
  width: 75%;
  text-align: center;
  margin-bottom: 20px;
  color: #f5f2f28f;
}

.proj_block>.list>ul{
  display: flex;
  list-style: none;
}
.proj_block li{
  display: flex;
  flex-direction: column;
  /* background-color: #6001FF; */
  margin: 10px;
  height: 50px;
  width: 50px;
  /* padding:5px 10px; */
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.buttons{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons>a{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 10px;
  background-color: rgb(15, 15, 15);
  font-weight: bold;
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 50em;
  -webkit-border-radius: 50em;
  -moz-border-radius: 50em;
  -ms-border-radius: 50em;
  -o-border-radius: 50em;
  
}
@media (max-width: 1030px) {
  .proj_block{
    width: 80%;
  }
}
@media (max-width:756px) {
  .proj_block{
    width: 80%;
  }
  .proj_block>img{
    height: 20%;
    width: 60%;
  }
  .proj_block>p{
    width: 90%;
  }
  .proj_block>.list>ul{
    display: flex;
    justify-content: center;
    align-items: center;
  flex-wrap: wrap;  
  }
  .proj_block>.list>ul>li{
    margin: 5px;
    font-size: 10px;
  }
}
@media (max-width:500px) {
  .proj_block{
    width: 95%;
  }

  
}
.li_img{
  height: 100%;
  width: 100%;
}
